@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --font-pixel: "Press Start 2P", monospace;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  overflow: hidden;
}
